<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widith=device-width, initial scale=1.0">
    <link rel='stylesheet' href= '{{ url_for("static", filename="styles.css") }}'>
    <title>Conversor de moedas</title>
    <script src="index.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="titleContainer">
            <h1>Conversor de moedas</h1>
        </div>
        <div class="dropdown-container">
            <div class="first-dropdown">
                <label for="dropdown1">Select an option:</label>
                <form action="/receive-value" method="post">
                    <select name="dropdown1" id="dropdown1">
                      {% for moeda in tree %}
                      <option value="{{ moeda.text }}">{{ moeda.text }}</option>
                      {% endfor %}
                    </select>
                  </form>
                <div class="dropdown-text">
                    <div id="response"></div>
                    {{ bid_response }}
                </div>
            </div>
            <div class="second-dropdown">
                <label for="dropdown1">Select an option:</label>
                <select name="dropdown1" id="dropdown1">
                    {% for moeda in tree %}
                    <option value="{{ moeda.text }}">{{ moeda.text }}</option>
                    {% endfor %}
                </select>
                <div class="dropdown-text">
                    USD$1,080983
                </div>
            </div>
            </div>
        </div>
      </div>
  </bod>
</html>